@use "./../../../styles/main";

.stock-price__table {
    width: 100%;
    min-width: 65rem;
    border-spacing: 0px;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 15px;
    margin-bottom: 30px;

    thead {
        background: linear-gradient(to right, #81e6ea, #014bae);
        color: #f3fafc;
        text-align: center;

        th {
            @include main.padding-y(0.5rem);
            $radius: 0.5rem;

            &:first-child {
                border-start-start-radius: $radius;
            }
            &:last-child {
                border-top-right-radius: $radius;
            }
            background-color: var(--primary);
            color: white;
            padding: 12px;
            text-align: center;
            font-weight: 500;
        }
    }


}
