@use "./../../styles/main";

h2 {
    color: var(--primary);
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
}

.market-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;

  th {
    background-color: var(--primary);
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: 500;
    @extend .text-overflow;
  }
  .table-row {
      &:nth-child(even) {
      background-color: #f8f9fa;
    }

    &:hover {
      background-color: #e9f4ff;
      transition: background-color 0.2s ease;
    }
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #e9ecef;
  }
  .company-name {
    @extend .text-overflow;
  }
}
