.market-table {
    border-radius: 20px;
    box-shadow: 5px 5px #BBBDC8;
    width: 500px;
    height: 330px;
    background-color: #fff;
    padding: 10px;
    margin: 10px
}
.market-table h1{
    margin: 0;
}
.market-table th, .market-table td {

    padding: 8px;
    border-radius: 10px;
    text-align: left;
  
}

.market-table th {
    font-weight: normal;
}
.market-table td{
    font-size: 25px;
    font-weight: 650;
}

@media  (min-width: 740px) and (max-width: 1024px){
    .market-table {
        width: 300px;
    }
}

@media (max-width: 739px){
    .market-table {
        width: 200px;
    }
}
