.Search_Bar{
    display: flex;
    border: 2px solid #5E5E5E;
    border-radius: 20px;
    width: 500px;
    height: 40px !important;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.Search_Bar input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #F5F6F8;
    outline: none;
}
.Search_Bar .search_icon{
    font-size: 25px;
    margin: 10px;
}

.Search_Bar .mic_icon{
    font-size: 25px;
    margin: 10px;
}

@media  (min-width: 740px) and (max-width: 1024px){
    
}

@media (max-width: 739px){
    .Search_Bar{
        width: 300px;
    }
}