@use "./../../../styles/main";

.search-container {
  width: 35rem;
  color: main.$black;
  padding: 1rem 1.5rem;
  right: 10rem;

  .search-bar {
    @include main.flex(unset, center, 1rem);

    .exit-search {
      display: none;
    }
  }

  .search-box {
    @include main.flex(space-evenly, center, 0);
    margin: 0 auto 0 auto;
    height: 2rem;
    width: 95%;
    font-size: 1.3rem;
    padding: 0.2rem;
    border-radius: 10rem;
    border: 1.5px solid main.$black;
  }

  #search {
    background-color: transparent;
    width: 80%;
    border: none !important;
    outline: none !important;
  }

  .search__suggest-stocks-container {
    max-height: 500px;
    overflow: auto;
    margin-top: 1rem;

    .search-item {
      @include main.flex(space-between, center, 1rem);
      padding: 0.2rem 1rem;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: main.$super-light-blue;
      }

      .company-name {
        @extend .text-overflow;
        width: 80%;
      }
    }
  }
}

@media (max-width: main.$md) {
  .search-container-navbar {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    transform: none;

    .exit-search {
      display: block !important;
      cursor: pointer;
    }
  }
}

@media (max-width: main.$sm) {
  .search__suggest-stocks-container {
    flex-direction: column;

    & > div {
      width: 100% !important;
    }

    .search__trend {
      border-right: none;
    }
  }
}
