.stock-slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 20px;
  margin-top: 4rem;

  .phan-tich-co-phieu-title {
      margin-top: 3rem;
      font-size: 50px;
      font-weight: bold;
      color: transparent;
      background: linear-gradient(to right, #2563eb, #14b8a6);
      background-clip: text;
      text-align: center;
  }

  .phan-tich-filter {
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      position: relative;
      margin-bottom: 20px;

    .keyword-input {
      justify-content: center;
      width: 100%;
      padding: 10px 40px 10px 40px;
      border: 1px solid #d1d5db;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      outline: none;
      color: #374151;
      font-size: 16px;
    }
  }

  .pages-container {
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
  }

  .page {
    display: inline-block;
    width: 100%;
    white-space: normal;
    opacity: 0;
    &.active {
      animation: fadeInPage 0.5s ease forwards;
    }
  }

  .stock-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
  }

  .pagination {
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    button {
      background: #1e90ff;
      color: white;
      border: none;
      padding: 12px 25px;
      cursor: pointer;
      border-radius: 25px;
      font-size: 16px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover:not(:disabled) {
        background: #00b7eb;
        transform: scale(1.1);
      }

      &:disabled {
        background: #cccccc;
        cursor: not-allowed;
        transform: none;
      }
    }

    span {
      font-size: 18px;
      color: #1e90ff;
      font-weight: bold;
    }
  }
}

@media (max-width: 600px) {
  .stock-container {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
