*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.login_content{
    background: linear-gradient(#080821, #2928A1);
    color: #fff;
    padding: 50px;
    flex: 1;
}

.login_content .register_button{
    color: #60BBDE;
    cursor: pointer;
}

.login_content p{
    font-size: 25px;
    margin: 40px 0px;
}
.login_logo{
    font-family: "Tektur", serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}
.login_logo .logo_name{
    font-size: 40px;
    letter-spacing: 5px;
}
.login_logo img{
    height: 80px;
    
}
.login_content h1{
    font-weight: 350;
    font-size: 50px;
    margin: 20px 0px;
}

.login_content .block{
    margin-top: 100px;
    margin-bottom: 70px;
    width: 70px;
    height: 10px;
    border-radius: 10px;
    background-color: #F7F7F7;
}

.login_content button{
    color: #0086FF;
    font-weight: bold;
    border-radius: 30px;
    width: 200px;
    height: 35px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}
.login_page{
    flex: 2;
    flex-direction: column;
    background-color: #F5F6F8;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login_page label{
    color: #727171;
    font-size: 20px;
}

.login_page input{
    margin: 5px 0px;
    width: 540px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

.login_page p{
    color: #0072FF;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 10px 0px;
    cursor: pointer;
}

.login_page .login_button{
    width: 540px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to right,#8661FC,#5FD8E8);
    border: 1px solid #7695F3;
    cursor: pointer;
}

.ContactButton{
    display: flex;
    float: right;
}

@media  (min-width: 740px) and (max-width: 1024px){
    .tablet_change{
        display: none;
    }
    .login_content{
        width: 100vw;
    }
    .login_page{
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 739px){
    .tablet_change{
        display: none;
    }
    .login_content{
        width: 100vw;
    }
    .login_logo .logo_name{
        font-size: 20px;
        letter-spacing: 5px;
    }
    .login_logo img{
        height: 40px;
        
    }
    .login_content h1{
        font-weight: 350;
        font-size: 30px;
        margin: 20px 0px;
    }
    .login_content p{
        font-size: 15px;
        margin:20px 0px;
    }
    .login_content button{
        width: 150px;
        font-size: 15px;
    }
    .login_page input{
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 10px;
    }
    .login_page{
        width: 100vw;
        height: 100vh;

    }
    .login_page .login_button{
        width: 300px;
        height: 40px;
        border-radius: 5px;
        font-size: 25px;
        color: #fff;
        font-weight: bold;
        background: linear-gradient(to right,#8661FC,#5FD8E8);
        border: 1px solid #7695F3;
        cursor: pointer;
    }
}