@use "./../../styles/main";

header.header {
    @include main.background("./images/header_background.png");
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    color: main.$super-light-blue;
    z-index: 1;

    .slogan {
        // font-family: "Tektur", serif;
        position: absolute;
        text-align: left;
        top: 40%;
        left: 10%;
        max-width: 600px;
        transform: translateY(-50%);
        z-index: 0;

        $font-size: 1em;

        h1 {
            
            font-size: $font-size * 5;
            line-height: 1em;
            margin: 0;
        }
        p {
            margin-top: 2rem;
            font-size: $font-size;
        }
    }
}
@media (max-width: main.$sm) {
    .slogan {
        $font-size: 1rem;
        text-decoration: solid;

        h1 {
            font-size: $font-size * 2.7 !important;
        }
        p {
            font-size: $font-size !important;
        }
    }
}
@media (max-width: main.$md) {
    header.header {
        .slogan {
            $font-size: 1.5rem;
            text-decoration: solid;

            h1 {
                font-size: $font-size * 2.7;
            }
            p {
                font-size: $font-size;
            }
        }
    }
}