@import "./../../../styles/variable";
@import "./../../../styles/mixin";

.introducing-members {
    background-color: $gray-white-100;
    padding: 2rem;

    h2 {
        margin: 1rem auto;
        width: fit-content;
    }

    h1 {
        margin: 1rem auto;
        width: fit-content;
        font-size: 3rem;
    }

    .members {
        @include flex(space-evenly, unset, 1rem);
        flex-wrap: wrap;
        width: 100%;
    }

    .member-card {
        background-color: $white;
        $size: 25vw;
        width: $size;
        min-width: 20rem;
        height: $size * 0.8;
        min-height: 15rem;
        border-radius: 1.5rem;
        border: 2px solid $black;
        padding: 0 1rem 1rem 1rem;
        color: $blue;

        .member-name {
            @include flex(space-between, center, 1rem);
            margin: 0.8rem 0.5rem;
        }

        .linkedin-link {
            @include block(2rem, 50%);
            @include flex(center, center, 0);
            color: $white;
            background-color: $gray-blue;
        }

        hr {
            height: 1.5px;
            background-color: $blue;
            border: none;
        }

        &:nth-child(1),
        &:nth-child(3) {
            background-color: $blue;
            border: none;
            color: $white;

            .linkedin-link {
                border: 2px solid $white;
            }

            hr {
                background-color: $white;
            }
        }
    }
}

@media (max-width: $sm) {
    .introducing-members {
        // padding: 0;

        .member-card {
            width: 100%;
            min-width: 0;
        }
    }
}
